pillow
opencv-python-headless
numpy
imagehash
PyExifTool
c2pa-python
transformers
torch
requests
scipy
python-dotenv
insightface
onnxruntime
easyocr
pyzbar
paddleocr==2.10.0
paddlepaddle; python_version < "3.14"
flask
groq
reportlab
cryptography
google-genai
chromadb
sentence-transformers
PyMuPDF
PyYAML==6.0.3